{% extends "ChallengeReportBundle::sidebar.html.twig" %}


{% block title %}
Report
{% endblock %}


{% block sidebar %}
<h1>Filters</h1>
{# <div class="datepicker"></div> #}
<form method="GET">
    
    <input type="hidden" name="sort" value="{{ params.sort }}" />
    <input type="hidden" name="direction" value="{{ params.direction }}" />
    
    {{ render(controller('ChallengeReportBundle:Country:countryList', {
        'params': params
    })) }}
    
    <input type="text" name="product" placeholder="Product" value="{{ params.product }}"/>
    
    <div class="input-daterange input-append input-prepend" id="datepicker">
        <input type="text" class="input-small" 
               name="startDate" value="{{ params.startDate }}" 
               placeholder="Start date"/>
        <span class="add-on">to</span>
        <input type="text" class="input-small" 
               name="endDate" value="{{ params.endDate }}" 
               placeholder="End date"/>
    </div>
    
    <a href="{{ path('report') }}">Clear</a>
    <input type="submit" class="btn" value="Search"/>
</form>

{% endblock %}


{% block stylesheets %}

{% stylesheets '@ChallengeReportBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
    
{% endblock %}


{% block javascripts %}

{% javascripts '@ChallengeReportBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
    
<script type="text/javascript">
    $('#datepicker').datepicker({
        format: '{{ params.jsformat }}'
    });
</script>

{% endblock %}


{% block content %}
    <h1>Results</h1>

    {% if not results is empty %}
        <table class="table table-bordered table-striped">
            <tr>
                {# sorting of properties based on query components #}
                <th>
                    {% include 'ChallengeReportBundle:Misc:sort_link.html.twig' with {
                        'field': 'product', 
                        'label': 'Product'
                    } %}
                    {% include 'ChallengeReportBundle:Misc:sort_icon.html.twig' with {
                        'field': 'product', 
                        'sorted': (params.sort == 'product'),
                        'direction': params.direction
                    } %}
                </th>
                <th>
                    {% include 'ChallengeReportBundle:Misc:sort_link.html.twig' with {
                        'field': 'unitsSold', 
                        'label': 'Units Sold'
                    } %}
                    {% include 'ChallengeReportBundle:Misc:sort_icon.html.twig' with {
                        'field': 'unitsSold', 
                        'sorted': (params.sort == 'unitsSold'),
                        'direction': params.direction
                    } %}
                </th>
                <th>
                    {% include 'ChallengeReportBundle:Misc:sort_link.html.twig' with {
                        'field': 'totalCost', 
                        'label': 'Total cost'
                    } %}
                    {% include 'ChallengeReportBundle:Misc:sort_icon.html.twig' with {
                        'field': 'totalCost', 
                        'sorted': (params.sort == 'totalCost'),
                        'direction': params.direction
                    } %}
                </th>
                <th>
                    {% include 'ChallengeReportBundle:Misc:sort_link.html.twig' with {
                        'field': 'totalRevenue', 
                        'label': 'Total Revenue'
                    } %}
                    {% include 'ChallengeReportBundle:Misc:sort_icon.html.twig' with {
                        'field': 'totalRevenue', 
                        'sorted': (params.sort == 'totalRevenue'),
                        'direction': params.direction
                    } %}
                </th>
                <th>
                    {% include 'ChallengeReportBundle:Misc:sort_link.html.twig' with {
                        'field': 'totalProfit', 
                        'label': 'Total Profit'
                    } %}
                    {% include 'ChallengeReportBundle:Misc:sort_icon.html.twig' with {
                        'field': 'totalProfit', 
                        'sorted': (params.sort == 'totalProfit'),
                        'direction': params.direction
                    } %}
                </th>
            </tr>
            {# table body #}
            {% for row in results %}
                <tr>
                    <td>{{ row.product }}</td>
                    <td>{{ row.unitsSold }}</td>
                    <td>{{ row.totalCost|number_format(2) }}</td>
                    <td>{{ row.totalRevenue|number_format(2) }}</td>
                    <td>{{ row.totalProfit|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">
            No results found
        </div>
    {% endif %}

{% endblock %}
